# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [41]:
import pandas as pd
from data_cleaning import (
    standardize_column_names,
    clean_inconsistent_values,
    correct_data_types,
    handle_nulls_and_convert_numeric,
    remove_duplicates
)

def load_and_clean_new_data():
    # Step 1: Load already cleaned file1
    file1_clean = pd.read_csv("cleaned_data.csv")  # from previous lab

    # Step 2: Load file2 and file3 from URLs
    url2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
    url3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"

    file2 = pd.read_csv(url2)
    file3 = pd.read_csv(url3)

    # Step 3: Clean new files
    def clean(df):
        df = standardize_column_names(df)
        df = clean_inconsistent_values(df)
        df = correct_data_types(df)
        df = handle_nulls_and_convert_numeric(df)
        df = remove_duplicates(df)
        return df

    file2_clean = clean(file2)
    file3_clean = clean(file3)

    # Step 4: Combine all three
    combined_df = pd.concat([file1_clean, file2_clean, file3_clean], ignore_index=True)

    # Step 5: Final deduplication and export
    combined_df = remove_duplicates(combined_df)
    combined_df.to_csv("final_cleaned_combined_data.csv", index=False)

    print("âœ… All files cleaned and combined. Saved as 'final_cleaned_combined_data.csv'")
    return combined_df

ModuleNotFoundError: No module named 'data_cleaning'

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [45]:
import pandas as pd 

df= pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')

df

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [61]:
def total_revenue_by_sales_channel(df):
    revenue_pivot = pd.pivot_table(
        df,
        values='total_claim_amount',
        index='sales_channel',
        aggfunc='sum'
    ).round(2).sort_values(by='total_claim_amount', ascending=False)

    print("Total Revenue by Sales Channel:\n")
    print(revenue_pivot)
    return revenue_pivot

In [63]:
def avg_clv_by_gender_education(df):
    clv_pivot = pd.pivot_table(
        df,
        values='customer_lifetime_value',
        index='gender',
        columns='education',
        aggfunc='mean'
    ).round(2)

    print("\nAverage Customer Lifetime Value by Gender and Education:\n")
    print(clv_pivot)
    return clv_pivot

In [65]:

# Run analysis functions
revenue_summary = total_revenue_by_sales_channel(df)

clv_summary = avg_clv_by_gender_education(df)

KeyError: 'total_claim_amount'

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [73]:
def complaints_by_policy_and_month(df):
    # Filter rows with actual complaints (greater than 0)
    complaints_df = df[df['number_of_open_complaints'] > 0]

    # Group by policy_type and month, count number of complaints
    summary = complaints_df.groupby(['policy_type', 'month']).size().reset_index(name='number_of_complaints')

    # Sort by most complaints
    summary = summary.sort_values(by='number_of_complaints', ascending=False)

    print("ðŸ“‹ Complaints by Policy Type and Month:\n")
    print(summary)
    return summary

def clean_open_complaints_column(df):
    # Convert to string and extract the middle value if it's in "x/y/z" format
    df['number_of_open_complaints'] = df['number_of_open_complaints'].astype(str).apply(
        lambda x: x.split('/')[1] if '/' in x and len(x.split('/')) >= 2 else x
    )

    # Convert to numeric type
    df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce')

    return df

In [75]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
df = pd.read_csv(url)

# Make sure number_of_open_complaints is numeric
df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce')

# Call the function
complaint_summary = complaints_by_policy_and_month(df)

KeyError: 'number_of_open_complaints'